@model IEnumerable<ProjectYK.Models.Sponsor>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="AddSponsor" asp-controller="Home">Добавить организатора</a>
<table class="table">
    <thead>
        <tr>
            <th class="thead-light">Организатор</th>
            <th class="thead-light">Телефон</th>
            <th class="thead-light">E-mail</th>
            <th class="thead-light">Адрес</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {                
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                </tr>
            }
    </tbody>    
</table>

